* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: rgba(128, 0, 128, 0.836);
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    background-color: #ffb6c1;
    padding: 50px;
    text-align: center;
}

.products {
    padding: 30px;
    background-color: #fff;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product h3 {
    margin: 15px 0;
}

.about, .contact {
    padding: 30px;
    background-color: #f2f2f2;
    text-align: center;
}

footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
#footer.link a{
    margin: 0 10px;
}
#footer.img{
    vertical-align: middle; /*
    Aligns images properly */
}